*:focus {
    outline: none;
}

* {
    user-select: none;
}

body {
    overflow: hidden;
}

main {
    background: black;
    height: 640px;
    width: 960px;
    overflow: hidden;
}

nav {
    position: absolute;
    width: 960px;
    text-align: center;
    height: 90px;
    line-height: 90px;
    bottom: 30px;
}

nav button {
    height: 90px;
    width: 90px;
    margin: 0 15px;
    border-radius: 100%;
    background: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#slider {
	height: 640px;
    width: 1920px;
    position: absolute;
    transition: left 0.5s;
    left: 0px;
}

.screen {
	height: 640px;
    width: 960px;
    color: white;
    font-family: sans-serif;
    font-size: 0;
}

/* CLOCK SCREEN */

.digit {
    position: absolute;
    width: calc(960px/6);
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 640px;
    box-shadow:  0 0 40px 0 rgba(0, 0, 0, 0.5);
}

.second {
	color: #ff4663;
}

.minute {
	/color: blue;
}

#h2 {
    left: 160px;
}

#m1 {
    left: calc(160px*2);
}

#m2 {
    left: calc(160px*3);
}

#s1 {
    left: calc(160px*4);
}

#s2 {
    left: calc(160px*5);
}

.slideUp {
    animation: slideUp 0.3s;
}

@keyframes slideUp {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -640px;
    }
}

.digit h1, .digit h2 {
    font-family: "Alata";
	font-size: 400px;
    width: 300px;
    margin-left: -70px;
    text-align: center;
}