*:focus {
    outline: none;
}

* {
    user-select: none;
}

body {
    background-color: black;
    image-rendering: pixelated;
    filter: invert();
}

main {
    background: white url(../res/bg_stripes.gif) top left / 24px;
    height: 960px; /* 240x 4p  */
    width: 640px; /*  160x 4p */
    font-size: 0;
}

#tile_overlay {
    height: calc(240 * 4px);
    width: calc(160 * 4px);
    position: absolute;
    background: url(../res/tile_overlay.gif) center / 100%;
    mix-blend-mode: difference;
    opacity: 0.2;
    z-index: 9999;
    display: none;
}

.screen {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 0;
}

#clock {
    width: calc(10 * 8 * 4px);
    height: calc(16 * 8 * 4px);
    padding: calc(1.5 * 8 * 4px);
    top: calc(7 * 8 * 4px);
    left: calc(5 * 8 * 4px);
    background-color: white;
    position: absolute;
}

.clock_digit {
    width: calc(3 * 8 *4px);
    height: calc(6 * 8 * 4px);
    display: inline-block;
    background-size: 100% 100%;
}

.hour {
    margin-bottom: calc(8 * 4px);
}

.clock_digit:nth-child(odd) {
    margin-right: calc(8 * 4px);
}

.sec {
    width: calc(3 * 8 *4px);
    height: calc(7 * 8 * 4px);
    background: url(../res/red_fill.gif) no-repeat top left / calc(3 * 8 * 4px) calc(7 * 8 * 4px);
    position: absolute;
    mask-size: calc(3 * 8 *4px) calc(6 * 8 * 4px);
    mask-position: bottom;
    mask-repeat: no-repeat;
    -webkit-mask-size: calc(3 * 8 *4px) calc(6 * 8 * 4px);
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    background-position: 0px calc(0 * 8 * 4px);
}

#sec_a {
    margin-top: calc(-7 * 8 * 4px);;
}

#sec_b {
    margin-left: calc(4 * 8 *4px);;
    margin-top: calc(-7 * 8 * 4px);
}

/* 
#coins {
    display: none;
    height: calc((20 + 4) * 4px);
    width: calc((68 + 4) * 4px);
    margin-left: calc(-6 * 4px);
    margin-top: calc(1.5 * 8 * 4px);
}

.coin {
    height: calc(8 * 4px);
    width: calc(8 * 4px);
    background: url(../res/dot.gif) center / 100%;
    display: inline-block;
    margin-right: calc(4 * 4px);
    margin-bottom: calc(4 * 4px);
}

.coin.active {
    background: url(../res/coin_spin.gif) center / 100%;
    animation: jump 0.5s;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-16px);
    }
    80% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
} */